.App {
    text-align: center;
  }
  
  nav {
    text-align: center;
    margin-bottom: 1em;
    padding-bottom: 0.2em;
    padding-top: 2em;
    background-color: #efefef;
  }
  
  nav ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  
  p,
  li {
    font-size: 2rem;
  }
  
  ul {
    list-style: none;
  }
  
  input,
  select,
  textarea {
    padding: 0.4em 0.2em;
    font-size: 1.2rem;
  }
  
  .active {
    font-weight: bold;
  }
  
  .form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .delete-button {
    color: red;
    cursor: pointer;
  }

.modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.65);
  visibility: hidden;
  backface-visibility: hidden;
  opacity: 0;
  transition: opacity 0.15s ease-in-out;
}

.modal.modal-open {
  visibility: visible;
  backface-visibility: visible;
  opacity: 1;
  z-index: 1;
}

.modal-inner {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: white;
  max-width: 35em;
  padding: 1em 1.5em;
  position: relative;
  margin: 2em;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.35);
}

.modal-content-inner {
  padding-top: 1em;
  margin-bottom: 0;
}

.modal-content-inner input {
  width: 500px;
}

.modal-buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.modal-buttons button {
  margin-left: 1em;
}

.modal-buttons button:first-child {
  margin-left: 0;
}
